# This is Git's per-user configuration file.
[user]
	email = 10835245@my.uvu.edu
	name = Christian Beesley
# Please adapt and uncomment the following lines:
#	name = Christian Beesley
#	email = 10835245@uvu.edu
