.loginFormDiv {
	position: relative;
}

.loginForm {
	margin: auto;
	background-color: #737677;
	width: 300px;
	height: 150px;
	padding: 40px 0 40px 0;
	text-align: center;
	color:#ffffff;
	border-radius: 25px;	
}
body {
	background-color: #00aae8;
}

.menu_banner_div {
	background-color: #737677;
}

ul.menu_banner li {
	display: inline;
}

li.right {
	float: right;
}

.errors {
	color: #c40000;
	text-shadow: 2px 1px #000000;
}