/* Fonts */
@font-face {
	font-family: "DIN OT";
	src: url(fonts/DINOT-Light.otf);
}

/* Image */
.avatar {
	border-radius: 50%;
	vertical-align: middle;
	margin-right: 5px;
}

body{
	background-color: #ffffff; 
	font-family: "DIN OT", 'Courier New', Courier, monospace;
	min-width: 350px;
}

body.login {
	background-color: #00aae8;
}

header {
	position: fixed;
	left: 0px;
	top: 0px;
	overflow: hidden;
	width: 100%;
	height: 54px;
	color: #ffffff;
	background-color: #002554;
}

footer {
	position: fixed;
	left: 0px;
	bottom: 0px;
	width: 100%;
	height: 50px;
	margin: 0px;
	color: #ffffff;
	background-color: #737677;
}

section {
	position: fixed;
	left: 0px;
	top: 59px;
	bottom: 60px;
	width: 100%;
	margin: 0px;
	overflow: auto;
	text-align: center;
}

#head-title {
	font-size: 32pt;
	vertical-align: top;
	color: #ffffff;
}

div.sectionContent {
	display: inline-block;
	text-align: left;
}

.loginFormDiv {
	position: relative;
}

.loginForm {
	margin: auto;
	background-color: #737677;
	width: 300px;
	padding: 40px 0 40px 0;
	text-align: center;
	color:#ffffff;
	border-radius: 25px;	
}

ul.menu_banner {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

ul.menu_banner li {
	float: left;
}

ul.menu_banner li a, .dropdown {
	display: inline-block;
	text-align: center;
	padding: 1px;
	text-decoration: none;
	color: white;
}

ul.footer_banner li a:hover {
	color: #000;
}

ul.header_banner li a:hover {
	border: 0px #000 inset;
}

ul.menu_banner div.right, ul.menu_banner li.right {
	float: right;	
}

div.right li.right {
	float: left;
}

header ul.menu_banner div.right {
	height: 54px;
	line-height: 54px;
}

div.right span {
	vertical-align: middle;
	line-height: normal;
	display: inline-block;
}
.left {
	float: left;
}

div.bar {
	position: fixed;
	left: 0px;
	top: 54px;
	width: 100%;
	height: 5px;
	background-color: #00aae8;
}

p.Ticketwire-copyright {
 text-align: center;
 margin: 0px;	
}

.errors {
	color: #c40000;
	text-shadow: 1px 0px #000000;
}

div.list {
	margin: auto;
	padding: 20px;
	width: 800px;
	background-color: #00aae8;
}

div.list table {
	background: #ffffff;
	margin: auto;
	box-shadow: 3px 3px #4b4b4b 
}

div.list table, th, td {
	border: 1px solid black;
	border-collapse: collapse;
}

div.list  th {
	font-weight: bold;
}

div.list td {
	text-align: left;
}

button, input[type=button], input[type=submit] {
	font-weight: bolder;
}

.newAccount {
	display: grid;
	grid-template-columns: auto auto;
	background-color: #00aae8;
	padding: 10px;
	width: 600px;
	margin: auto;
}

.gitem-right, .gitem-left {
	padding: 5px;
}

.gitem-left {
	text-align: right;
	font-weight: bold;
}

.gitem-right {
	text-align: left;
}

*[data-href] {
	cursor: pointer;
}

td a {
display:inline-block;
min-height: 100%;
width: 100%;
padding: 10px;
}

td.link {
	padding: 0;
}

a#forgot {
	color: #fff;
	text-decoration: none;
}

#forgot, #welcome {
	font-weight: bold;
}

textarea {
	resize: none;
}

.question {
	font-weight: bold;
}

.answer {
	text-align: justify;
}

div.faq {
	width: 50%;
	min-width: 300px;
	margin: auto;
}

ul.faqlinks {
	text-align: left;
}

a:link#cancel {
	text-decoration: none;
}
a:hover#cancel {
	text-decoration: none;
}
a:visited#cancel {
	text-decoration: none;
}
a:active#cancel {
	text-decoration: none;
}

div.grid-container {
	display: grid;
	grid-template-columns: auto auto;
	margin:auto;
	width: 800px;
}

div.grid-left {
	text-align: left;
	width: 50%;
  	margin: 0 auto;
}

div.grid-right {
	text-align: left;
	margin: 0 auto;
}

div.subcontainer {
	display:grid;
	grid-template-columns: auto auto;
	height: 89px;
}

div.subleft {
	grid-row: 1 / span 2;
}

a {
	color: #000;
	text-decoration: none;
}

a:hover {
	color: #186F9E;
}