/* Fonts */
@font-face {
	font-family: "DIN OT";
	src: url(fonts/DINOT-Light.otf);
}

* {
	box-sizing: border-box;
}

/* Images */
img {
	max-width: 100%;
}

.avatar {
	border-radius: 50%;
	vertical-align: middle;
	margin-right: 5px;
	border: 1px solid #002554;
	pointer-events: none;
}

/* General Tags */
body {
	background-color: #ffffff;
	font-size: 100%;
	font-family: "DIN OT", 'Courier New', Courier, monospace;
	min-width: 350px;
}

nav {
	position: fixed;
	left: 0px;
	top: 0px;
	overflow: hidden;
	width: 100%;
	height: 54px;
	color: #ffffff;
	background-color: #002554;
}

footer {
	position: fixed;
	left: 0px;
	bottom: 0px;
	width: 100%;
	height: 50px;
	margin: 0px;
	color: #ffffff;
	background-color: #737677;
}

section {
	position: fixed;
	left: 0px;
	top: 59px;
	bottom: 50px;
	width: 100%;
	margin: 0px 0px 10px 0px;
	overflow: auto;
	text-align: center;
	z-index: -1;
}

h3 {
	margin-top: 0px;
}

/* Links: a tags */

a {
	color: #000;
	text-decoration: none;
}

a:hover {
	color: #186F9E;
}

.sectionContent a {
	display: inline-block;
	margin: 5px;
	padding: 5px;
	border-radius: 5px;
	border: 1px solid black;

}

/* Submit and general buttons */
button,
input[type=button],
input[type=submit] {
	font-weight: bolder;
}

/* specific to login page */
body.login {
	background-color: #00aae8;
}

.loginFormDiv {
	position: relative;
}

.loginForm {
	margin: auto;
	background-color: #737677;
	width: 300px;
	padding: 40px 0 40px 0;
	text-align: center;
	color: #ffffff;
	border-radius: 25px;
}

/* specific to navigation bar */
#head-title {
	font-size: 250%;
	vertical-align: top;
	color: #ffffff;
}

#head-title:hover {
	color: #bbbbbb;
}

div.menu_nav {
	position: absolute;
	width: 100%;
}

div.right {
	position: absolute;
	top: 0px;
	right: 0px;
}

div.left {
	position: absolute;
	top: 0px;
	left: 0px;
}

ul.footer_menu_banner div li {
	display: inline;
	padding: 5px 5px;
}

ul.footer_menu_banner div li a {
	text-decoration: none;
	color: #ffffff;
}

ul.footer_menu_banner div li a:hover {
	color: #4b4b4b;
}

ul.footer_menu_banner {
	list-style-type: none;
	margin: 0px;
	padding: 0px;
}

p.Ticketwire-copyright {
	text-align: center;
	width: 100%;
}

div.bar {
	position: fixed;
	left: 0px;
	top: 54px;
	width: 100%;
	height: 5px;
	background-color: #00aae8;
	z-index: -1;
}

.ticketlink {
	margin: auto;
	padding: 5px;
}

div.sectionContent {
	display: inline-block;
	text-align: left;
	max-width: 40%;
}

div.sectionContent h2 {
	text-align: center;
}

.errors {
	color: #c40000;
	text-shadow: 1px 0px #000000;
}

/* formating for lists */
div.list {
	margin: auto;
	padding: 10px;
	background-color: #00aae8;
}

div.list table {
	background: #ffffff;
	margin: auto;
	box-shadow: 3px 3px #4b4b4b
}

table,
th,
td {
	border: 1px solid black;
	border-collapse: collapse;
	padding: 5px;
}

div.list th {
	font-weight: bold;
}

div.list td {
	text-align: left;
}

/* .newAccount {
	display: grid;
	grid-template-columns: auto auto;
	background-color: #00aae8;
	padding: 10px;
	width: 600px;
	margin: auto;
} */

/* CSS grid used on the account view page */

.gitem-right,
.gitem-left {
	padding: 5px;
}

.gitem-left {
	text-align: right;
	font-weight: bold;
}

.gitem-right {
	text-align: left;
}

*[data-href] {
	cursor: pointer;
}

td a {
	display: inline-block;
	min-height: 100%;
	width: 100%;
	padding: 10px;
}

td.link {
	padding: 0;
}

a#forgot {
	color: #fff;
	text-decoration: none;
}

#forgot,
#welcome {
	font-weight: bold;
}

textarea {
	resize: none;
	font-family: "DIN OT", 'Courier New', Courier, monospace;
}

/* Help Page */

.question {
	font-weight: bold;
	text-align: left;
}

.answer {
	text-align: justify;
}

div.faq {
	width: 50%;
	min-width: 300px;
	margin: auto;
}

ul.faqlinks {
	text-align: left;
	width: 100%;
}

/* Cancel link*/

a#cancel:link {
	text-decoration: none;
	border: 0px;
}

a#cancel:hover {
	text-decoration: none;
}

a#cancel:visited {
	text-decoration: none;
}

a#cancel:active {
	text-decoration: none;
}

a#reset:link {
	text-decoration: none;
	border: 0px;
}

a#unlock:link {
	text-decoration: none;
	border: 0px;
}

div.grid-container {
	display: grid;
	grid-template-columns: auto auto;
	grid-column-gap: 0px;
}

div.grid-left {
	text-align: left;
	margin: 0 auto;
}

div.grid-right {
	text-align: left;
	margin: 0 auto;
}

div.AccountInfo {
	display: grid;
	grid-template-columns: auto auto;
	margin: 0 auto;
	padding: 5px;
}

div.genInfo,
div.roleInfo {
	padding: 5px;
	text-align: left;
}

div.TicketCreateButtons {
	display: block;
}

div#technicianSummary,
div#customerSummary {
	margin-top: 5px;
	background-color: #ddd;
	border-radius: 5px;
	border: 1px solid #fff;
	padding: 5px;
}

div.message {
	text-align: center;
}

form.ticketViewSelect {
	align-content: left;
}

/* Help page top button*/

#topBtn {
	display: none;
	position: fixed;
	bottom: 10vmax;
	right: 5vmax;
	z-index: 1px;
	border: none;
	outline: none;
	background-color: #002554;
	color: #fff;
	cursor: pointer;
	padding: 10px;
	border-radius: 10px;
	font-size: 100%;
}

#topBtn:hover {
	background-color: #4b4b4b;
}

/* header drop down menu */

span#header_user_name {
	pointer-events: none;
}

.dropdownBtn {
	background-color: #00aae8;
	color: white;
	padding: 16px;
	font-size: 100%;
	border: none;
	cursor: pointer;
}

.dropdownBtn:hover,
.dropdownBtn:focus {
	background-color: #0088c6;
}

.dropdown {
	position: fixed;
	display: inline-block;
}

.dropdown-content {
	display: none;
	position: fixed;
	top: 58px;
	background-color: #f1f1f1;
	min-width: 160px;
	overflow: auto;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	z-index: 1;
}

.dropdown-content a {
	color: black;
	padding: 12px 16px;
	background-color: #fff;
	text-decoration: none;
	display: block;
}

.dropdown a:hover {
	background-color: #ddd;
}

.show {
	display: block;
}

tr.ticketlink:hover, tr.userlink:hover {
	cursor: pointer;
	font-weight: bold;
	background-color: #bbbbbb;
}

div.editTicketButtons {
	text-align: right;
}

#Ticket-Subject-Title {
	font-size: 100%;
	padding: 0px;
}

div.comment {
	border-radius: 5px;
	border: 1px solid #000;
	margin: 5px 0px;
	padding: 5px;
}

div.privateComment {
	background-color: #00aae8;
}

div.commentDate, div.commentCreator {
	display: inline;
}

div.commentCreator {
	float: right;
	font-weight: bold;
}

div.ticketDetails {
	display: grid;
	grid-template-columns: auto auto;
	grid-column-gap: 5px;
	grid-row-gap: 10px;
}

div.ticketsummary {
	grid-column: 1/3 ;
}

div.ticketDescription {
	grid-row: 2/5;
}

@media screen and (max-width:430px) {
	#header_user_name {
		display: none;
	}
}